@use 'variables';

.form {
    width: 50%;
    margin: auto;
    &__title, &__subtitle, &__text {
        text-align: center;
    }
    &__wrapper {
        text-align: left;
        margin-top:30px;
        display: flex;
        flex-direction: column;
        &--modal {
            width: 100%;
            text-align: left;
            display: flex;
            flex-direction: column;
        }
    }
    &__title {
    	margin-bottom: 20px;
    }
    &__input {
        height: 50px;
        font-size: 1.2em;
        border: none;
        @include variables.shadow;
        &--img {
            position: absolute;
            top: 0;
            left: 0;
            width: 173px;
            height: 36px;
            border-radius: 50px;
            color: transparent;
            line-height: 9999px;
        }
    }
    &__select {
        height: 50px;
        font-size: 1.2em;
        border: none;
        @include variables.shadow;
        background-color: inherit;
    }
    &__label {
	    margin: 2em 0 1em 0;
        &--img {
            font-family: 'Work Sans';
            font-size: 14px;
            width: 173px;
            height: 36px;
            margin: 7px auto;
            color: #306685;
            background-color: #CBD6DC;
            border-radius: 50px;
            display: block;
            line-height: 34px;
            position: relative;
        }
    }
    &__textarea {
        border: none;
        @include variables.shadow;
    }
    &__submit {
        font-family: 'Syne';
        font-weight: 700;
        color: variables.$white;
        background-color: variables.$main-color;
        margin : 40px auto 45px auto ;
        width: 180px;
        height: 36px;
        text-align: center;
        border-radius: 60px ;
    }
    &__text {
        text-decoration: underline;
    }
    &#login {
        margin: 150px auto 18% auto;
    }
}