@use 'variables';

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	@include variables.flex-center;
	&__wrapper {
		position: relative;
		overflow: auto;
		width: 630px;
		max-width: calc(100vw - 105px);
		padding: 60px 105px 45px 105px;
		border-radius: 10px;
		background-color: variables.$white;
	}
	.card {
		display: flex;
		flex-direction: column;
		align-items: center;
		&__close {
			position: absolute;
			top: 26px;
			right: 30px;
			width: 12px;
			height: 12px;
			margin: 6px;
			background-color: unset;
		}
		&__return {
			position: absolute;
			top: 26px;
			left: 30px;
			width: 12px;
			height: 12px;
			margin: 6px;
			background-color: unset;
		}
		&__title {
			font-family: Work Sans;
			font-size: 26px;
			font-weight: 400;
			margin-bottom: 32px;
		}
		.gallery {
			display: flex;
			flex-wrap: wrap;
			&__content {
				position: relative;
				width: 20%;
				height: 16%;
				padding: 14.5px 4.5px;
			}
			&__img {
				width: 100%;
			}
			&__delete-button {
				position: absolute;
				top: 20px;
				right: 10px;
				width: 17px;
				height: 17px;
				border-radius: 2px;
				background-color: black;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			&__delete-logo {
				width: 10px;
				height: 10px;
			}
		}
		&__content {
			width: 100%;
			padding: 19px;
			background-color: #E8F1F6;
			text-align: center;	
		}
		&__img {
			width: 70px;
			height: 60px;
		}
		&__text {
			font-size: 10px;
			color: #444444;
		}
		&__divider {
			width: 100%;
			border: 1px solid #B3B3B3;
			margin: 53px 0 38px 0;
		}
		&__button {
			font-family: 'Syne';
			font-weight: 700;
			font-size: 14px;
			color: variables.$white;
			background-color: variables.$main-color;
			width: 56.5%;
			height: 39px;
			padding: 5px 49px;
			text-align: center;
			border-radius: 60px;
			margin: 0 auto;
		}
		.form {
			width: 100%;
		}
	}
}