/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
:root {
	--main-color: #1D6154;
	--beige: #FFFEF8;
	--white: white;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: var(--beige);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: var(--beige);
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px auto;
	max-width: 1140px;
}
main {
	max-width: 1140px;
	margin:auto;
}
footer {
	height: 60px;
	background-color: var(--white);
	display: flex;
	justify-content: end;
	align-items: center;
}
section {
	margin: 50px 0
}
a, a:visited, a:hover {
	color: inherit;
	text-decoration: none;
}
h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#instagram-logo {
	position: relative;
	top: 2px;
	width: 19.35px;
	height: 19.35px;
}
#edit-mode {
	background-color: black;
	color: var(--white);
	height: 59px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.edit-img {
	margin-right: 8px;
	width: 16px;
}
.edit-text {
	font-size: 16px;
	font-weight: 400;
}
#edit-button {
	position: absolute;
	top: 10px;
	left: 60.5%;
	display: flex;
}
#introduction {
	margin: 139px 0;
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	width: 60%;
	margin-bottom: 1em;
}

#introduction p {
	width: 72%;
	margin-bottom: 0.5em;
}
#portfolio {
	position: relative;
}
#projets {
	text-align: center;
	margin-bottom: 51px;
}
.categories-container {
	width: 50%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.categories-container button {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	padding: 9px 15px;
	border: solid 1px var(--main-color);
	border-radius: 60px;
	cursor: pointer;
}
.categories-container button:not(.filter-selected) {
	color: var(--main-color);
	background-color: var(--white);
}
.categories-container button.filter-selected {
	color: var(--white);
	background-color: var(--main-color);
}
.gallery {
	width: 100%;
	margin-top: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.gallery img {
	width: 100%;
}
.gallery figcaption {
	margin-top: 7px;
}
.hidden {
	display: none;
}
.form-section {
	width: 50%;
	margin: auto;
}
.form-section > * {
	text-align: center;

}
.form-section h2{
	margin-bottom: 20px;
}
.form-section form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}
.form-section input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.form-section label {
	margin: 2em 0 1em 0;
}
.form-section textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.form-section#login {
	margin: 150px auto 20% auto;
}
.form-section#login a {
	margin: 0 auto;
	text-decoration: underline;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 40px auto 45px auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin-right: 2em;
}

